about {
  width: 100%;
  height: 100vh;
  background-color: rgb(255, 43, 43);
  display: relative;
  justify-content: center;
  align-items: center;
}

.about .main img {
  width: 490px;
  max-width: 100%;
  height: auto;
  padding: 30px 30px;
  margin-left: 70px;

}

.all-text {
  width: 600px;
  max-width: 100%;
  padding: 0 10px;
}

.main {
  width: 1290px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.all-text h4 {
  font-size: 18px;
  color: #777777;
  letter-spacing: 400;
  margin-bottom: 10px;

}

.all-text h1 {
  font-size: 65px;
  color: #111111;
  margin-bottom: 20px;
}

.all-text p {
  font-size: 18px;
  color: #777777;
  line-height: 30px;
  margin-bottom: 35px;
}

/* a {
  color: black;
} */

.social_media {
  display: relative;
  justify-content: center;
  align-items: center;
  margin-left: 140px;
  margin-bottom: 50px;
}

.social_media a {
  color: #828282;
  margin-right: 22px;
  font-size: 24px;
}

.social_media a:hover {
  color: #313131;
  /* margin-right: 22px; */
  font-size: 24px;
}

.btn {
  margin-left: 155px;
}

.btn button {
  background: rgb(81, 54, 230);
  padding: 20px 32px;
  font-size: 16px;
  border: none;
  outline: none;
  box-shadow: 0px 16px 32px 0px rgb(0 0 0 / 6%);
  margin-right: 100px;
  border-radius: 10px;

}

.btn button a {
  color: black;
}

.btn button:hover {
  background-color: #ffffff;
  color: white;
  transition: 0.3s;
  cursor: pointer;
}

.btn .btn2 {
  background: #111111;
  color: white;
}

@media screen and (max-width: 1250px) {
  .about {
    width: 100%;
    height: auto;
    padding: 60px 0;
  }

  .all-text {
    text-align: center;
    margin-top: 40px;
  }
}

@media screen and (max-width: 650px) {
  .about .main img {
    margin-bottom: 0;
    margin-left: 0;
    padding: 0;
  }

  .all-text h1 {
    font-size: 45px;
    margin-bottom: 20px
  }

  .about {
    padding: 10px 0 25px 0;
  }

  .btn {
    margin-left: 15px;
  }

  .btn button {
    background: white;
    padding: 20px 32px;
    font-size: 16px;
    border: none;
    outline: none;
    box-shadow: 0px 16px 32px 0px rgb(0 0 0 / 6%);
    margin-right: 20px;
    border-radius: 10px;

  }

}

@media screen and (min-width: 1824px) {

  .about .main img {

    width: 620px;
    max-width: 150%;
    height: auto;
    /* padding: 20px 30px; */
    /* margin-left: 10px; */
  }

  .all-text h1 {
    font-size: 85px;
    color: #111111;
    margin-bottom: 20px;
  }

  .all-text p {
    font-size: 20px;
    color: #777777;
    line-height: 33px;
    margin-bottom: 35px;
  }
}